body {
  background-image: url("./assets/4.jfif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.radio-label {
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
  margin-left: 2%;
  font-size: 24px;
  color: white;
  

}
.radio-input {
  display: inline-block;
  vertical-align: top;
  margin-top:10px;
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
  
}

.mizerie {
  background-color: rgb(19, 19, 57); /* Green */
  border: #111;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  position: fixed;
  margin-top: 100px;
  margin-left: -10px;
}

.full {
  background: url("./assets/vreme.jpeg") 0 0 no-repeat;
  min-height: 634px;
}
.half {
  background: url("./assets/roz.jpeg") 0 0 no-repeat;
  min-height: 301px;
  margin-bottom: 30px;
}
.half2 {
  background: url("./assets/app.jpeg") 0 0 no-repeat;
  min-height: 301px;
}
.full, .half, .half2 {
  background-size: cover;
  position: relative;
}

.full:hover .overlay-effect, .half:hover .overlay-effect, .half2:hover .overlay-effect {
  opacity: 1;
  cursor: pointer;
}

.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(259, 67, 95, 0.7);
  overflow:hidden;
}

.full a,
.half a,
.half2 a {
  color: black;
}

.full h3,
.half h3,
.half2 h3 {
  padding: 15px 30px;
  color: black;
}

@media screen and (max-width: 768px) {
  .full, .half, .half2 {margin-bottom: 10px;}
}
.link {
  color: #FFF;
}
.link:hover {
   color: #00F
}
.footer {
   position: fixed;
   padding-top: 25px;
   margin-top: 50px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(102, 140, 255, 0.1);
   color:  gray;
   text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  text-align: left;
  color: wite;
}

.logo {
  text-align: right;
}

.caption {
  color:white;
  text-align: center;
  font-size: 16px;
}

.motto {
  color: white;
  text-align: center;
  font-size: 24px;
  font-style: italic;
}

.blockquote-footer{
  text-align: right;
}

.caption:hover {
  color: goldenrod;
  font-size: 18px;
}

#en {
  display: none;
}
.closed {
  width: 0;
}
.open {
  width: 250px;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.button_lang {
  background-color: #444;
  color: #FFF;
  padding: 8px 20px;

  border-radius: 5px;

  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
.button_lang:hover, .current_lang {
  background-color: #777;
  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.inline-ul {
  display:inline;
  margin-left: 10px;
}

.change {
  text-align: center;
}

/* animations */

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%)
}

.page-enter-active {
  opacity: 1; 
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit{
  opacity: 1;
  transform: translateX(0%)
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

/* menu */

.vertical-menu {
  width: 300px;
  height: 400px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: rgb(19, 19, 57);
  color: white;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  background-color: #eee;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #eee;
  width: 350px;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block

}

#myMenu li a:hover {
  background-color: #ccc;
}

.button_visualize {
  border-radius: 4px;
  background-color: #444;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 75px;
  margin-top: 25px;
}

.button_visualize span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_visualize span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_visualize:hover span {
  padding-right: 25px;
}

.button_visualize:hover span:after {
  opacity: 1;
  right: 0;
}

#canvasOne {
  background-color: rgb(36,74,101);
  width:100%; 
  height:100%;
}

#globe {
  width: 60vw;
  height: 60vh;
}
